nav {
    background-color: #565656;
    color: silver;
}
a {
    text-decoration: none;
    color: silver;
    cursor: pointer;
    padding: 0 10px;
    color: blue;
    font-weight: bold;
}
.menu a:hover {
    background-color: black;
    color: white;
}
.menu a {
    color: silver;
}